* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#hero {
    background-color: #e1e1e1;
    padding: 50px 20px;
    text-align: center;
}

#personal-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#personal-photo img {
    margin-right: 20px;
    width: 200px; /* Adjust as needed */
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    #personal-photo {
        flex-direction: column;
    }

    #personal-photo img {
        margin-bottom: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
